*{
    margin: 0;
    padding: 0;
    border: border-box;
}
.container{
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
}

.content{
    width: 900px;
    margin: 0 auto;
}
.top-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.top-section h1{
    font-size: 50px;
    font-weight: 400;
    color: #1d1e4c;
    text-transform: uppercase;
    
}
.top-section h4{
    font: 30px;
    text-align: end;
}
.image-container img{
    width: 300px;
    height: 320px;
    border-radius: 50%;
    
}
.about-section{
    margin-top: 70px;
}
.about-section h2{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;

}
.about-section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing:1.2px;
}
.biography-section{
    margin-top: 15px;
    margin-bottom: 15px;
}
.biography-section h2{
    margin-bottom: 15px;
}
.biography-section ul{
    margin-left: 20px;
    margin-bottom: 10px;
}
.biography-section li{
    margin-bottom: 10px;
}
footer{
    max-resolution: 50px 0px;
}
footer p {
    text-align: end;
}